<article class="">

	<header>
		<h1 class="listTitle">List of Mushrooms</h1>
	</header>

		<form id="inputForm" class="listTitle">
			<input type="radio" ng-model="shroomFilter" value="true">  Non-Poisonous</input><br>
			<input type="radio" ng-model="shroomFilter" value="false">  Poisonous</input><br>
			<input type="radio" ng-model="shroomFilter" value="">  Show All</input> 
		</form>
			<br><br>
		<hr>

	<section>
		<div class="panel panel-default">
		 <div  class="panel-body">
				<div ng-repeat="shroom in shroomArray | filter: shroomFilter | filter: shroomSearch">
		          <div id="name" class="col-xs-1.5">{{shroom.name}}</div>
		          <div class="col-xs-10.5">{{shroom.description}}</div>
		          <hr>
		 	 </div> 
	 		</div>
	 	</div>
	</section>

</article>



